:root {
      --primary: #bceaf9;
      --bg: #baeaf999;
}

* {
      margin: 0;
      padding: 0;
      text-decoration: none;
      outline: none;
}

html {
      scroll-behavior: smooth;
}

body {
      font-family: 'Poppins', sans-serif;
      overflow-x: hidden;
}

nav {
      display: flex;
      justify-content: space-around;
      background-color: #bceaf9;
      box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.311);
      padding: 4.5px 0;
      align-items: center;
}

nav ul {
      display: flex;
      list-style: none;
      z-index: 1;
}

nav ul li a {
      text-decoration: none;
      font-size: 0.9em;
      color: #000;
      padding: 6px;
}

nav ul li a:hover {
      color: #84dcf5e4;
      transition: all 0.5s;
}

.logo img {
      width: 65%;
}

/* bagian dropdown menu */
nav li:hover>.dropdown-menu {
      display: flex;
      flex-direction: column;
}

.dropdown-menu {
      position: absolute;
      display: none;
      padding: 10px 10px;
}

.dropdown-menu a {
      padding: 2px;
      padding-left: 15px;
      padding-right: 15px;
}

.dropdown-menu a:hover {
      background-color: #70ccea9f;
      color: #000;
      transition: all 1s;
      border-radius: 6px;
}

/* bagian button */
button {
      border: none;
      cursor: pointer;
}

.button-nav {
      display: flex;
      gap: 4px;
}

/* profile button */
#profile {
      background-color: #84dcf5e4;
      padding: 5px;
      border-radius: 18px;
      font-weight: 600;
}

#out {
      background-color: #ff3939;
      box-shadow: 1px 1px 1px 1px rgba(72, 70, 70, 0.998);
      padding: 5px;
      border-radius: 18px;
      font-weight: 600;
}

#out a {
      text-decoration: none;
      color: #000;
}

#out:hover {
      background-color: #e81e13;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.287);
      transition: all 0.5s;
}

/* vertikal/hamburger menu */
.menu-toggle {
      position: relative;
      display: none;
      flex-direction: column;
      height: 20px;
      justify-content: space-between;
}

.menu-toggle input {
      position: absolute;
      width: 40px;
      height: 20px;
      opacity: 0;
      left: -5px;
      top: -1px;
      cursor: pointer;
      z-index: 2;
}

.menu-toggle span {
      display: block;
      width: 28px;
      height: 3px;
      background-color: #000;
      border-radius: 3px;
      transition: all 0.5s;
}

/* vertikal/hamburger menu animation */
.menu-toggle span:nth-child(2) {
      transform-origin: 0 0;
}

.menu-toggle input:checked~span:nth-child(2) {
      transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle span:nth-child(4) {
      transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(4) {
      transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
      transform: scale(0);
}

/* bagian hero section */
.hero {
      position: relative;
      min-height: 100vh;
      margin-top: 2px;
      display: flex;
      align-items: center;
      background-image: url('image/agri7.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      /* border-bottom: 1px solid rgb(26, 145, 13); */
      /* z-index: -1; */
}

.hero::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      /* height: 100%; */
      /* background: linear-gradient(0deg, rgba(188, 234, 249, 0.3), rgba(255, 255, 255,0.3)); */
      /* color: rgb(255, 255, 255); */
}

.hero .content {
      padding: 1.4rem 7%;
      max-width: 60rem;

}

.hero .content h1 {
      font-size: 5em;
      color: #fff;
      text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
      line-height: 1.2;
}

.hero .content h1 span {
      color: var(--primary);
}

.hero .content p {
      font-size: 1.6rem;
      margin-top: 1rem;
      line-height: 1.4;
      font-weight: 100;
      color: #fff;
      text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
      /* mix-blend-mode: difference; */
}

.hero .content .cta {
      margin-top: 1rem;
      display: inline-block;
      padding: 1rem 3rem;
      font-size: 1.4rem;
      color: #3f3f3f;
      background-color: var(--primary);
      border-radius: 0.5rem;
      box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.3);
}

/* Bagian About section */
.about,
.fitur,
.value,
.contact {
      padding: 5rem 1.4rem;
}

.about h2,
.fitur h2,
/* .value, */
.contact h2 {
      text-align: center;
      font-size: 2.6rem;
      margin-bottom: 3rem;
}

.about h2 span,
.fitur h2 span,
.value span,
.contact h2 span {
      color: var(--primary);
}

.about .row {
      display: flex;
      padding: 0rem;
}

.about .row .about-img {
      flex: 1 1 35rem;
}

.about .row .about-img img {
      width: 65%;
      /* height: 70%; */
      padding-left: 4rem;
}

.about .row .content {
      flex: 1 1 40rem;
      /* padding: 1rem 1rem; */
}

.about .row .content h3 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
}

.about .row .content p {
      text-align: justify;
      margin-bottom: 0.8rem;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.6;
}

/* Fitur Section */
.fitur {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 183, 166, 0.4), rgba(151, 54, 187, 0.4), rgba(74, 164, 232, 0.4), rgba(255, 255, 255, 0.4));
}

.fitur h2,
.contact h2 {
      margin-bottom: 1rem;
}

.fitur p,
.contact p {
      text-align: center;
      max-width: 30rem;
      margin: auto;
      font-size: 1.2rem;
      font-weight: 100;
      line-height: 1.6;
}

.fitur .row {
      display: flex;
      margin-top: 0rem;
      justify-content: center;
}

.fitur .row .fitur-img {
      display: flex;
      padding-bottom: 3rem;
}

.fitur .row .fitur-img img {
      /* border-radius: 50%; */
      width: 65%;
}

.fitur .row .content {
      text-align: start;
      padding-top: 5.5rem;
}

.fitur .row .content p {
      text-align: justify;
      font-size: 1rem;
      font-weight: 300;
      padding-top: 1rem;
}

.fiur .row .fitur-card .fitur-card-title {
      margin: 1rem auto 0.5rem;
      text-align: center;
}

/* bagian nilai/keunggulan */
.value {
      font-size: 1.8rem;
      text-align: center;
}

.value .row {
      display: flex;
      flex: 1 1 45rem;
      margin: 5rem 0rem;
      justify-content: center;
}

.value .row .value-img {
      width: 70%;
}

.value .row .value-img img {
      padding-left: 0rem;
      width: 70%;
}

.value .row .value-card {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
}

.value .row .value-card .value-title {
      padding-top: 1rem;
      display: flex;
      align-items: center;
}

.value .row .value-card p {
      text-align: start;
}

/* Bagian kontak kami */
.contact .row {
      display: flex;
      margin-top: 2rem;
      background-color: #eee;
      align-items: center;
      justify-content: center;
}

.contact .row .map {
      flex: 1 1 45rem;
      width: 100%;
      object-fit: cover;
}

.contact .row form {
      display: flex;
      flex-direction: column;
      flex: 1 1 45rem;
      padding: 3rem 2rem;
      align-items: flex-end;
}

.contact .row form .input-group {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
      background-color: #fff;
      border: 1px solid #000000;
      padding-left: 0.8rem;
      border-radius: 10px;
      width: 65%;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.687);
}

.contact .row form .input-group input {
      padding: 0.5rem;
      font-size: 0.8rem;
      background: none;
      border: none;
}

.contact .row form button {
      margin-top: 1.5rem;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: #000;
      background-color: var(--primary);
      border-radius: 10px;
      cursor: pointer;
}

.contact .row form button:hover {
      background-color: #00eaff;
      transition: 0.5s ease-in-out;
}

/* bagian footer */
footer {
      background-color: var(--primary);
      text-align: center;
      padding: 1rem 3rem;
      margin-top: 3rem;
}

footer .socials {
      padding: 1rem 0;
}

footer .socials a {
      color: #696767;
      margin: 0.5rem;
      font-size: 1.5rem;
}

footer .socials a:hover,
footer .links a:hover {
      color: #000000;
      transition: all 0.5s;
}

footer .links {
      margin-bottom: 1.4rem;
}

footer .links a {
      color: #696767;
      padding: 0.5rem;
}

footer .credit {
      font-size: 0.8rem;
}

footer .credit a {
      color: #000;
      font-weight: 700;
}



/* RESPONSIVE */
/* Pengaturan viewport untuk masing-masing ukuran device */

/* Smartphone */
@media screen and (max-width: 450px) {

      html {
            font-size: 100%;
      }

      /* navigasi bar */
      nav ul {
            position: absolute;
            right: 0;
            top: 0;
            /* width: 80%; */
            height: 115vh;
            flex-direction: column;
            margin-top: 61px;
            align-items: center;
            background-color: #bceaf9;
            /* transform: translateY(-100%); */
            transform: translateX(100%);
            transition: all 1s;
            opacity: 0;
            z-index: 1;
      }

      nav ul.slide {
            opacity: 1;
            transform: translateX(0);
            z-index: 1;
      }

      nav ul li {
            padding-top: 15px;
      }

      .menu-toggle {
            display: flex;
      }

      /* button */
      .button-nav {
            position: absolute;
            bottom: 2%;
            right: 22%;
            flex-direction: column;
            z-index: -1;
            opacity: 0;
            transform: translateY(-100%);
            transition: all 1s;
      }

      /* profile button */
      #profile {
            margin-bottom: 4px;
      }

      .button-nav.slide {
            opacity: 1;
            transform: translateX(0);
            z-index: 1;
      }

      /* bagian footer */
      footer .links a {
            padding: 0.1rem;
      }
}

/* Tablet */
@media screen and (max-width: 768px) {

      html {
            font-size: 100%;
      }

      /* navigasi bar */
      nav ul {
            position: absolute;
            right: 0;
            top: 0;
            width: 80%;
            /* height: 115vh; */
            height: 100%;
            flex-direction: column;
            margin-top: 61px;
            align-items: center;
            background-color: #bceaf9;
            transform: translateY(-100%);
            /* transform: translateX(100%); */
            transition: all 1s;
            opacity: 0;
            z-index: 1;
      }

      nav ul.slide {
            opacity: 1;
            transform: translateX(0);
            z-index: 1;
      }

      nav ul li {
            padding-top: 15px;
      }

      .menu-toggle {
            display: flex;
      }

      nav .button-nav {
            gap: 4px;
      }

      .hero {
            margin-bottom: 7.5rem;
      }

      /* bagian tentang kami */
      .about,
      .fitur,
      .value {
            padding-top: 0.1rem;
            padding-bottom: 7rem;
      }

      .about .row {
            flex-wrap: wrap;
      }

      .about .row .about-img img {
            width: 100%;
            padding-left: 0rem;
            object-fit: cover;
            object-position: center;
      }

      .about .row .content {
            padding: 0;
      }

      .about .row .content h3 {
            margin-top: 1rem;
            font-size: 2rem;
      }

      .about .row .content p {
            font-size: 1.6rem;
      }

      /* bagian fitur */
      .fitur .row {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
      }

      .fitur .row .fitur-img img {
            width: 100%;
            height: 50%;
      }

      .fitur .row .content {
            padding: 0rem 1rem;
            text-align: center;
      }

      /* bagian value */
      .value .row {
            display: flex;
            flex-wrap: wrap;
            margin: 3rem 1rem;
      }

      .value .row .value-img {
            width: 100%;
      }

      .value .row .value-img img {
            width: 100%;
      }


      /* bagian kontak */
      .contact .row {
            flex-wrap: wrap;
      }

      .contact .row .map {
            height: 30rem;
      }

      .contact .row form {
            padding-top: 1.5rem;
            align-items: flex-end;
      }

      .contact .row form .input-group {
            width: 100%;
      }

      .contact .row form .input-group input {
            padding: 0.8rem;
            font-size: 1rem;
      }

      .contact .row form button {
            width: 60%;
      }

      .footer .socials a {
            font-size: 1.8rem;
      }
}

/* Laptop */
@media screen and (max-width: 1366px) {
      html {
            font-size: 90%;
      }
}