*,
::before,
::after {
      box-sizing: border-box;
}

body {
      margin: 0;
      font-family: "Poppins", sans-serif;
}

/* NAVIGATION BAR */
nav {
      top: 0;
      right: 0;
      z-index: 9999;
      width: 100%;
      background-color: #70ccea38;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 0rem;
      color: #fff;
}

nav .logo {
      font-size: 1.rem;
      width: 30%;
}

nav .logo img {
      padding-top: 15px;
      width: 130px;
}

.nav-links {
      list-style-type: none;
      display: flex;
}

.nav-links li a {
      color: inherit;
      margin-left: 1rem;
      cursor: pointer;
      text-decoration: none;
}

.nav-links a:hover {
      color: #95e8ff65;
}

.nav-links .btn:hover {
      background-color: #95e8ff00;
      color: #95e8ff;
}

li a,
.dropbtn {
      display: inline-block;
      color: rgb(255, 255, 255);
      text-align: center;
      text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
      transition: all 0.5s ease;
}

li.dropdown {
      display: inline-block;
}

.dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
      padding: 10px 10px;
}

.dropdown-content a {
      text-decoration: none;
      display: block;
      text-align: left;
}

.dropdown-content a:hover {
      color: #95e8ff;
}

.dropdown:hover .dropdown-content {
      display: block;
}

/* DEFINISI & KEUNGGULAN APLIKASI */
.content {
      margin: 8px;
      margin-top: 8.8vh;
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
}

.content .definisi {
      width: 50%;
      text-align: justify;
      background-color: #95e8ff65;
      border-radius: 8px;
      padding-right: 10px;
      padding-left: 10px;
}

.definisi p {
      font-family: NunitoSansBold, sans-serif;
      color: #535961;
      font-size: 16px;
}

.content .visi {
      width: 50%;
      background-color: #95e8ff65;
      border-radius: 8px;
      padding-right: 10px;
      padding-left: 10px;


}

.nilai-box {
      display: flex;
      flex-wrap: nowrap;
}

.nilai-box .nilai {
      justify-content: center;
      margin-left: 40px;
      margin-right: 30px;
      text-align: center;
      font-size: 18px;
      font-weight: 550;
      color: #535961;
      font-family: NunitoSansBold, sans-serif;
      border-radius: 8px;
}

.nilai-box .nilai img {
      width: 100px;
      height: auto;
      margin: 10px;
}

@media screen and (min-width: 700px) {
      .content {
            flex-direction: row;
      }

      .nilai-box .nilai {
            flex-direction: row;
      }
}

/* BACKGROUND & MOTTO */
.content-wrapper {
      display: flex;
      flex-direction: row;
      grid-gap: 10px;
      position: static;
      justify-content: center;
      margin-top: 100px;
      font-size: 20px;
      font-family: Brush script MT;
      text-align: center;
}

.upper {
      color: #95E8FF;
}

.lower {
      color: #ECFFF0;
      font-weight: lighter;
}


.bg-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50%;
      z-index: -1;
      background-image: url(image/agri6.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
}

.btn {
      border: none;
      padding: 3px 6px;
      margin-left: 50px;
      font-weight: 600;
      color: #fff;
      background-color: #84dcf5e4;
      text-align: center;
      cursor: pointer;
      border-radius: 10px;
}

/* SLIDER ARTIKEL-BOX */
.artikel-box {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5vh;
}

.slide {
      height: 45vh;
      border-radius: 8px;
      margin: 5px;
      cursor: pointer;
      color: #fff;
      flex: 1;
      background-size: cover;
      background-position: center;
      background-repeat: no repeat;
      position: relative;
      transition: all 0.7s ease-in-out;
      filter: blur(1.5px);
}

.slide a {
      position: absolute;
      font-size: 22px;
      font-weight: bold;
      bottom: 20px;
      left: 20px;
      opacity: 0;
      background-color: #e3fdf5;
      background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-decoration: none;

}

.slide.active {
      flex: 10;
      filter: blur(0px);
}

.slide.active a {
      opacity: 1;
      transition: opacity 0.3s ease-in 0.4s;
}


/* NEWS/EVENT TERBARU */
.news {
      margin-top: 1vh;
      margin-bottom: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      border-radius: 8px;
      padding-left: 5px;

}

.news-box {
      display: flex;
      flex-direction: column;
      width: 237px;
      height: 50vh;
      overflow: hidden;
      box-shadow: 0 0.1rem rgba (0, 0, 0, 0.1);
      border-radius: 8px;
      background: #ece9e6;
      background: linear-gradient(to bottom, #ffffff, #ece9e6);
}

.news-box:hover {
      -webkit-transition: 0.5s;
      transition: 0.5s ease;
      -webkit-transform: scale(1.04);
      transform: scale(1.04);
}

img {
      width: 250px;
      height: 150px;
      display: block;
      object-fit: cover;
}

.news-body {
      padding: 4px 4px 0 4px;
      display: flex;
      flex-direction: column;
}

.tag {
      align-self: flex-start;
      padding: 0.25em 0.75em;
      border-radius: 1em;
      font-size: 0.5rem;
}

.tag+.tag {
      margin-left: 0.5em;
}

.tag-blue {
      background: #56ccf2;
      background: linear-gradient(to bottom, #2f80ed, #56ccf2);
      color: #fafafa;
}

.news-body h4 {
      font-size: 14px;
      text-transform: capitalize;

}

.news-body p {
      font-size: 10px;
      margin-top: 0.1px;
}

/* FITUR UTAMA */
.fitur-utama {
      display: grid;
      grid-template-columns: auto auto auto;
      margin-bottom: 2vh;
      margin-left: 78px;
      margin-right: 8px;
      justify-content: center;
}

.fitur {
      text-align: center;
      margin: 0 3rem 3rem 0;
}

.fitur img {
      width: 90%;
}

.fitur h6 {
      font-size: 16px;
      font-weight: 550;
      color: #535961;
      font-family: NunitoSansBold, sans-serif;
      margin-top: 0.5vh;
      margin-bottom: 2vh;
}

/* JOIN BUTTON */
.button {
      display: flex;
      justify-content: center;
}

.join-button {
      border: none;
      background-color: #84dcf5e4;
      cursor: pointer;
      padding: 5px;
      border-radius: 18px;
      width: 30%;
      padding: 20px;
      margin-bottom: 100px;
      margin-top: 20px;
}

.join-button a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 15px;
}

.join-button:hover {
      background-color: #3acff9;
      transition: all 0.5s ease;
}

/* BAGIAN FOOTER */
ul {
      list-style: none;
}

.row {
      display: flex;
}

footer {
      background-image: linear-gradient(#a5bccb, #38a3a5);
      position: relative;
      line-height: 1.5;
}

.footer-col {
      padding: 0 15px;
}

.footer-col h4 {
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      font-weight: 500;
      position: relative;
}


.footer-col h4::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
}

.footer-col ul li a {
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      font-weight: 300;
      color: #ffffff;
      transition: all 0.3s ease;
}

.footer-col ul li a:hover {
      color: #38a3a5;
      padding-left: 8px;
}

.footer-col .social-links a {
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255, 255, 255, 0.2);
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
      color: #0389ff;
      background-color: #c2e5e6;
}



/* RESPONSIVE */

/* Pengaturan viewport untuk masing-masing ukuran device */

/* SMARTPHONE */
@media (max-width: 768px) {

      .nav-links li a {
            font-size: 14px;
      }

      nav .logo {
            width: 10%;
      }

      /* bagian slogan */
      .content-wrapper {
            font-size: 12px;
            margin-top: 20px;
      }

      /* bagian definisi dan visi */
      .content {
            grid-gap: 6px;
            margin-right: 5px;
            margin-left: 5px;
      }

      .content .definisi {
            width: 100%;
            padding-left: 6px;
            padding-right: 6px;
      }

      .definisi p {
            font-size: 14px;
      }

      .content .visi {
            width: 100%;
      }

      .nilai-box {
            justify-content: center;
      }

      .nilai-box .nilai {
            margin-left: 0;
            margin-right: 0;
            font-size: 14px;
      }

      .nilai-box .nilai img {
            width: 80px;
      }

      /* bagian slider artikel-box */
      .slide {
            height: 25vh;
            margin: 3px;
      }

      .slide a {
            font-size: 14px;
            bottom: 10px;
      }

      /* bagian news/event terbaru */
      .news-box {
            width: 178px;
            height: auto;
      }

      .news-box img {
            width: 100%;
            height: 120px;
      }

      .news-body h4 {
            font-size: 12px;
      }

      /* bagian join button */
      .join-button {
            margin-top: 2px;
            margin-bottom: 80px;
      }

      /* bagian footer */
      .footer-col {
            padding: 0 10px;
      }

      .footer-col h4 {
            font-size: 16px;
      }

      .footer-col ul li a {
            font-size: 14px;
      }

      .footer-col .social-links a {
            margin: 0 5px 5px 0;
      }

}

/* TABLET */
@media (min-width: 769px) and (max-width:1024px) {

      /* bagian slogan */
      .content-wrapper {
            font-size: 24px;
            margin-top: 20px;
      }

      /* bagian definisi dan visi */
      h3 {
            font-size: 26px;
      }

      .content .definisi {
            width: 100%;
      }

      .content p {
            font-size: 24px;
      }

      .content .visi {
            width: 100%;
      }

      .nilai-box {
            justify-content: center;

      }

      .nilai-box .nilai {
            font-size: 24px;
      }

      .nilai-box .nilai img {
            width: 160px;
      }

      .bg-overlay {
            height: 30%;
      }

      /* bagian slider artikel-box */
      .slide {
            height: 30vh;
            margin: 3px;
      }

      .slide a {
            font-size: 30px;
            bottom: 20px;
      }

      /* bagian news/event terbaru */
      .news-box {
            width: 400px;
            height: auto;
      }

      .news-box img {
            width: 100%;
            height: 210px;
      }

      .news-body h4 {
            font-size: 24px;
      }

      .news-body p {
            font-size: 20px;
      }

      .tag {
            font-size: 1.1rem;
      }

      /* bagian join button */
      .join-button {
            width: 55%;
            padding: 30px;
      }

      .join-button a {
            font-size: 25px;
      }

      /* bagian footer */
      .footer-col {
            padding: 0 15px;
      }

      .footer-col h4 {
            font-size: 28px;
      }

      .footer-col h4::before {
            width: 75px;
      }

      .footer-col ul li a {
            font-size: 26px;
      }

      .footer-col .social-links a {
            height: 40px;
            width: 40px;
            margin: 0 5px 8px 0;
            line-height: 40px;
      }

}

/* DESKTOP */
@media (min-width: 1025px) {}