/* Default margin dan padding */
*,
::before,
::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

html {
      scroll-behavior: smooth;
}

body {
      overflow-x: hidden;
      font-family: Arial, Helvetica, sans-serif;
}

/* HANDLE BAGIAN NAVIGASI BAR */
nav {
      display: flex;
      justify-content: space-around;
      background-color: #bceaf9;
      box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.311);
      padding: 4.5px0;
      align-items: center;
}

nav ul {
      display: flex;
      list-style-type: none;
}

nav ul li a {
      text-decoration: none;
      font-size: 0.9em;
      color: #000;
      padding: 6px;
}

nav ul li a:hover {
      color: #84dcf5e4;
      transition: all 0.5s;
}

.logo img {
      width: 65%;
}

/* vertikal/hamburher menu */
.menu-toggle {
      display: none;
      flex-direction: column;
      height: 20px;
      justify-content: space-between;
      position: relative;
}

.menu-toggle input {
      position: absolute;
      width: 40px;
      height: 20px;
      opacity: 0;
      left: -5px;
      top: -1px;
      cursor: pointer;
      z-index: 2;
}

.menu-toggle span {
      display: block;
      width: 28px;
      height: 3px;
      background-color: #000;
      border-radius: 3px;
      transition: all 0.5s;
}

/* vertikal/hamburger menu animation */
.menu-toggle span:nth-child(2) {
      transform-origin: 0 0;
}

.menu-toggle input:checked~span:nth-child(2) {
      transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle span:nth-child(4) {
      transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(4) {
      transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
      transform: scale(0);
}

/* bagian dropdown menu */
nav li:hover>.dropdown-menu {
      display: flex;
      flex-direction: column;
}

.dropdown-menu {
      display: none;
      position: absolute;
      padding: 10px 10px;
}

.dropdown-menu a {
      padding: 2px;
      padding-left: 15px;
      padding-right: 15px;
}

.dropdown-menu a:hover {
      background-color: #70ccea38;
      color: #000;
      transition: all 1s;
}

/* bagian button */
button {
      border: none;
      cursor: pointer;
}

.button-nav {
      display: flex;
      gap: 4px;
}

#profile {
      background-color: #84dcf5e4;
      padding: 5px;
      border-radius: 18px;
      font-weight: 600;
}

#out {
      background-color: #ff3939;
      box-shadow: 1px 1px 1px 1px rgba(72, 70, 70, 0.998);
      padding: 5px;
      border-radius: 18px;
      font-weight: 600;
}

#out a {
      text-decoration: none;
      color: #000;
}

#out:hover {
      background-color: #e81e13;
      transition: all 0.5s;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.287);
}

/* HANDLE BAGIAN NAMA USER */
p {
      padding-top: 20px;
      padding-left: 12px;
      font-size: 18px;
}

/* HANDLE BAGIAN SEARCH BAR ICON */
.search-bar {
      display: flex;
      align-items: center;
      float: right;
      padding: 5px 12px 12px 12px;
}

.search-bar input[type="text"] {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 300px;
      margin-left: 5px;
}

.search-bar button {
      padding: 9px 10px;
      background-color: #ace0f9;
      border: none;
      border-radius: 4px;
      margin-left: 8px;
      margin-bottom: 18px;
      cursor: pointer;
}

.search-bar button i {
      color: #fff;
}

.search-bar button a {
      color: #242222e9;
}

/* KODE UNTUK HANDLE TOP NEWS */
.image-container {
      position: relative;
      display: inline-block;
      margin-top: 270px;
      border-radius: 12px;
      box-shadow: 0.2px 1px 1px 2px rgba(72, 70, 70, 0.358);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.image-container img {
      display: block;
}

.overlay-link {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #2f2e2e;
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
      padding: 1.1px;
}

/* BAGIAN FITUR UTAMA */
.fitur-utama {
      margin-left: 20px;
      margin-right: 20px;
}

.fitur-utama h3 {
      text-align: center;
}

.image-row {
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin-bottom: 170px;
}

.image-item {
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
}

.image-item img {
      display: block;
      width: 90%;
      height: auto;
}

/* BAGIAN NEWS */
.news {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 50px;
      display: flex;
      gap: 20px;
      border-radius: 8px;
}

/* untuk hapus ikon scrollbar */
::-webkit-scrollbar {
      width: 0;
}

::-webkit-scrollbar-track {
      background-color: transparent;
}

::-webkit-scrollbar-thumb {
      background-color: inherit;
}

.news-box {
      flex-basis: 50%;
      height: 32vw;
      overflow: hidden;
      box-shadow: 0 0.1rem 0.1rem rgba(6, 6, 6, 0.424);
      border-radius: 8px;
      background: #ece9e6;
}

.news-box img {
      width: 100%;
      height: 65%;
}

.news-body {
      padding: 4px 4px 0 4px;
      display: flex;
      flex-direction: column;
}

.tag {
      align-self: flex-start;
      padding: 0.2em 0.75em;
      border-radius: 1em;
      font-size: 0.7rem;
}

.tag+.tag {
      margin-left: 0.5em;
}

.tag-blue {
      background: #56ccf2;
      background: linear-gradient(to bottom, #2f80ed, #56ccf2);
      color: #fafafa;
}

.news-body h4 {
      font-size: 14px;
      text-transform: capitalize;
      padding-top: 8px;
      padding-left: 8px;
}

.news-body p {
      font-size: 12px;
      padding: 8px;
      text-align: justify;
}

/* BAGIAN NEWS DALAM SLIDER */
/* css code for slideshow */
.slideshow {
      position: relative;
      background: linear-gradient(to top, #ace0f9, #fff1eb00);
      box-shadow: 0 1px 0px 1px #ace0f9;
      align-content: center;
      margin: 10px 90px 0 90px;
      border-radius: 8px;
}

/* css code for slides */
.slide {
      display: none;
      padding: 80px 0 80px 0;
      text-align: center;
      transition: opacity 0.5s ease;
}

/* tambahan for auto slider */
.slideshow .slide {
      animation: slider 10s infinite;
}

@keyframes slideshow {
      0% {
            opacity: 0;
      }

      100% {
            opacity: 1;
      }
}

@keyframes slide {
      0% {
            transform: translateX(0);
      }

      100% {
            transform: translateX(-200);
      }
}

/* css code for prev and next button */
.prev,
.next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -30px;
      padding: 16px;
      color: #888;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
}

/* css code for the next button to the right */
.next {
      position: absolute;
      right: 0;
      border-radius: 3px 0 0 3px;
}

/* code css for on hover */
.prev:hover,
.next:hover {
      color: white;
}

/* css code for dot icon */
.dot-icon {
      text-align: center;
      padding: 20px;
}

.dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: rgba(150, 224, 246, 0.3);
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
}

/* css code for dot icon active */
.active,
.dot:hover {
      background-color: #96E0F6;
}

/* css code for judul */
.slide h4 {
      color: #000000;
}

.slide a {
      text-decoration: none;
}

.slide p {
      display: inline-block;
      color: #000;
}

#dt {
      color: rgba(0, 0, 0, 0.6);
}

/* CSS CODE FOR POP-UP REGISTER FORM */
/* input fields */
.container {
      display: flex;
      flex-direction: column;
      padding: 10px 35px 0 35px;
}

h3 {
      text-align: center;
      padding-bottom: 20px;
}

.modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(129, 125, 125, 0.4);
      padding-top: 50px;
}

/* for form registration */
.modal-content {
      background-color: #C1EBF8;
      margin: 5% auto 15% auto;
      width: 80%;
      border-radius: 30px;
}

/* for close button ('X' icon) */
.close {
      position: absolute;
      right: 50px;
      top: 35px;
      font-size: 40px;
      color: #3C3C43;
}

.close:hover,
.close:focus {
      color: #f44336;
      cursor: pointer;
}

/* clear floats */
.clearfix::after {
      content: "";
      clear: both;
      display: table;
}

input[type=text] {
      width: 100%;
      padding: 8px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border-radius: 15px;
      border: 1.5px solid #888;
}

.container input[type=text]:focus {
      outline: none;
}

/* for save button & foto produk */
.save {
      display: flex;
      justify-content: center;
}

.savebtn {
      background-color: #3DA8AF;
      color: #fff;
      padding: 8.5px;
      margin-top: 40px;
      margin-bottom: 18px;
      cursor: pointer;
      width: 50%;
      font-weight: bold;
      border: none;
      border-radius: 16px;
      box-shadow: 1px 1px rgb(0, 0, 0, 0.25);

}

.savebtn:hover {
      opacity: 0.8;
      box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.25);
}

#fileInput {
      padding-left: 4px;
}

/* KODE UNTUK HANDLE BAGIAN FOOTER */
ul {
      list-style: none;
}

.row {
      display: flex;
}

footer {
      background-image: linear-gradient(#a5bccb, #38a3a5);
      padding: 10px 0;
      position: relative;
      margin-top: 50px;
      line-height: 1.5;
}

.footer-col {
      width: 25%;
      padding: 0 15px;
}

.footer-col h4 {
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 12px;
      margin-top: 12px;
      font-weight: 500;
      position: relative;
}


.footer-col h4::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
}

/* .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
  flex-direction: column;
} */

.footer-col ul li a {
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 12px;
      transition: all 0.3s ease;
}

.footer-col ul li a:hover {
      color: #38a3a5;
      padding-left: 8px;
}

.footer-col .social-links a {
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255, 255, 255, 0.2);
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
      color: #0389ff;
      background-color: #c2e5e6;
}




/* RESPONSIVE */
/* Pengaturan viewport untuk masing-masing ukuran device */

/* SMARTPHONE */
@media screen and (max-width: 576px) {

      /* bagian navbar */
      nav ul {
            position: absolute;
            right: 0;
            top: 0;
            height: 48vh;
            flex-direction: column;
            margin-top: 52px;
            background-color: #bceaf9;
            border-radius: 0 0 15px 15px;
            transform: translateY(-100%);
            transition: all 1s;
            opacity: 0;
      }

      nav ul.show {
            opacity: 1;
            transform: translateX(0);
      }

      nav ul li {
            padding-top: 15px;
            padding-left: 5px;
      }

      nav ul li:hover {
            background-color: #fff;
            width: 100%;
            padding: 10px;
      }

      nav ul li a:hover {
            color: #000;
      }

      .dropdown:hover,
      .dropdown-menu:hover {
            background-color: #fff;
      }

      .dropdown-menu a:hover {
            background-color: #70ccea90;
      }

      .menu-toggle {
            display: flex;
      }

      /* bagian button */
      .button-nav {
            display: flex;
            position: absolute;
            bottom: 46%;
            flex-direction: column;
            z-index: -1;
            opacity: 0;
            transform: translateY(-100%);
            transition: all 1s;
      }

      #profile {
            margin-bottom: 4px;
      }

      .button-nav.show {
            opacity: 1;
            transform: translateX(0);
            z-index: 1;
      }

      /* bagian form registrasi toko */
      .savebtn {
            width: 100%;
      }

      /* bagian search bar */
      .search-bar {
            z-index: -1;
      }

      .search-bar input[type="text"] {
            width: 200px;
      }

      /* bagian top news */
      .image-container {
            margin-top: 80px;
            width: 95%;
            z-index: -1;
      }

      .image-container img {
            width: 95%;
      }

      .overlay-link {
            font-size: 20px;
            width: 100%;
      }

      /* bagian fitur utama */
      .fitur-utama {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 0;
            margin-right: 0;
      }

      .image-row {
            margin-bottom: 65px;
      }

      .image-item {
            margin: 0;
            width: 100%;
      }

      .image-caption {
            width: 90%;
      }

      /* bagian news */
      .news {
            display: block;
            overflow-x: scroll;
            white-space: nowrap;
            margin-left: 0px;
            margin-right: 0px;
      }

      .news-box {
            width: 80%;
            height: 30vh;
            display: inline-block;
            margin-top: 5px;
            margin-left: 10px;
            margin-right: 10px;
      }

      .news-box img {
            width: 100%;
            height: 50%;
      }

      .tag {
            font-size: 0.8rem;
      }

      .news-body {
            white-space: pre-line;
      }

      .news-body h4 {
            font-size: 17px;
      }

      .news-body p {
            display: none;
            font-size: 15px;
      }

      /* bagian slideshow */
      .slideshow {
            margin: 20px 10px;
      }

      .slide {
            padding: 20px 8px;
      }

      .slide a {
            font-size: 15px;
      }

      .slide p {
            font-size: 13px;
      }

      .prev,
      .next {
            font-size: 15px;
      }

      .dot-icon {
            position: relative;
            margin-bottom: 50px;
      }
}

/* TABLET */
@media screen and (max-width:768px) {
      nav ul {
            width: 100%;
      }

      nav .button-nav {
            gap: 4px;
      }
}